@import "./styles/animations.css";
@import "./styles/nes-container.css";
@import "./styles/finish-bubble.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #212529;

  --error: red;
  --primary: #2d93dd;
  --purple: #7b53ad;
  --warning: #e6da29;
  --success: #28c641;
  --white: white;
  --black: #1b1c33;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #212529;
    --foreground: #ffffff;
  }
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-press-start);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.portable-text p {
  margin-bottom: 1rem;
}
