.nes-container.dialogue {
  animation: slideInUp;
  animation-duration: 200ms;
  max-width: 720px;
  max-height: 480px;
}
.nes-container.dialogue > .title {
  margin-top: -2.5rem !important;
}
.nes-container.dialogue .dialogue-content-wrapper {
  overflow: hidden;
  max-height: 480px;
}
.nes-container.dialogue .dialogue-content {
  overflow-y: scroll;
  max-height: calc(480px - 52px);
}

@media screen and (max-width: 480px) {
  .nes-container.dialogue {
    background-color: var(--background);
    position: absolute;
    bottom: 0;
    max-height: 100vh;
    margin-left: 4px !important;
    margin-right: 4px !important;
  }
  .nes-container.dialogue .dialogue-content-wrapper {
    max-height: calc(100vh - 128px);
  }
  .nes-container.dialogue .dialogue-content {
    overflow-y: scroll;
    max-height: calc(100vh - 128px);
  }
}
